<div class="center jumbotron" style="background-color: red">
  <h1 style="color: white">Witam na mojej stronie</h1>
  <%=image_tag('pilka.jpg',alt:"nie ma:C") %>

  <h2 style="color: white">
    Strona o zespołach piłki ręcznej na świecie!
    </h2>

  <%= link_to "Co to piłka ręczna?", '/historia', class: "btn btn-lg btn-primary" %>
</div>